*{
  background-color: blue;;
  background-image: 
  
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: maroon;
}
/* .p{
    color: antiquewhite;
} */